[user]
	name = Notebook
	email = notebook@example.com

[core]
	editor = vim
	autocrlf = input
	filemode = false

[init]
	defaultBranch = main

[pull]
	rebase = false

[credential]
	helper = store

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD
	unstage = reset HEAD --
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
